<div class="container_search">
  <%= form_with(url: book_discounts_path, method: "get", class: "form-inline") do |form| %>
    <div class="form_search">
      <%= form.select 'discount_detail[discount_id]', options_from_collection_for_select(@discount, :id, :name_KM), { prompt: t('language.select_discount') }, { class: 'custom-select', id: 'inputGroupSelect02' } %>
      <%= form.submit t('language.search'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="container_grid">
  <% @books.each do |book| %>
    <div class="box">
      <% if book.image.present? %>
        <%= link_to image_tag(book.image.url, class: 'img_book_home'), page_path(book) %>
      <% end %>
      <div class="description_book">
        <div class="book_name"><%= book.name_book %></div>
        <div class="book_author"><%= t('language.author') %>: <%= book.author %></div>
        <div class="price_info">
          <div><%= t('language.price') %>: </div>
          <div class="price_discount"><%= book.display_price[:discount] %></div>
          <div class="price_current"><%= book.display_price[:current] %></div>
          <div>đ</div>
        </div>
      </div>
      <%= button_to t('language.add'),
        add_to_cart_invoices_path(book_id: book.id),
        method: :get,
        disabled: (book.quantity < 1) ? true : false,
        class: "btn btn-danger",
        remote: true
      %>
    </div>
  <% end %> 
</div>

<style>
  .custom-select{
    width: auto;
  }
</style>