<% provide(:title, 'Edit Book') %>
<h1>Edit Book</h1>
<%= form_for([:admin,@books]) do |form| %>
  <%= form.label :name_book %>
  <%= form.text_field :name_book, class: 'form-control' %>
  <%= form.label :description %>
  <%= form.text_area :description, class: 'form-control' %>
  <%= form.label :author %>
  <%= form.text_field :author, class: 'form-control' %>
  <%= form.label :quantity %>
  <%= form.number_field :quantity, class: 'form-control' %>
  <%= form.label :price %>
  <%= form.number_field :price, class: 'form-control' %>
  <%= form.label :image %>
  <%= form.file_field :image, class: 'form-control' %>
  <%= form.label :category_id %>
  <%= form.collection_select :category_id, Category.all, :id, :name_category, {}, class: 'form-control' %>
  <%= form.label :status %>
  <select name="book[status]" class="custom-select">
    <% Book.statuses.each do |key, value| %>
      <% if [0, 1].include?(value) %>
        <% selected = (@books.status.to_i == value) ? 'selected' : '' %>
        <option value="<%= value %>" <%= selected %>><%= key.to_s.humanize %></option>
      <% end %>
    <% end %>
  </select>
  <%= form.submit "Update changes", class: "btn btn-primary", style: 'margin-top: 10px' %>
<% end %>

<style>
  label {
    color: black;
    font-weight: bold;
  }
</style>

