<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to My Awesome Site, <%= @invoice.user.name %>!</h1>
  <div>
    <table>
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên sách</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
      </tr>
    </thead>
    <tbody>
      <% @invoice.invoice_details.each_with_index do |detail, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= detail.book.name_book %></td>
          <td><%= detail.price %></td>
          <td><%= detail.quantity %></td>
          <td><%= detail.price * detail.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</body>
</html>