<%= form_for(@user) do |f| %>
  <div>
    <%= render 'shared/error_messages', object: f.object %>
  </div>
  <%= f.label t('language.name') %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label t('language.email') %>
  <%= f.email_field :email, class: 'form-control' %>
  <%= f.label t('language.image') %>
  <%= f.file_field :image, class: 'form-control' %>
  <%= f.label t('language.password') %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label t('language.confirmation') %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary", style: "margin-top: 10px" %>
<% end %>