<div class="nav_container">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <% @category.each do |category| %>
        <div class="btn_category">
          <%= link_to category.name_category, root_url(category_id: category.id), method: :get, remote: true %>
        </div>
      <% end %>
    </ul>
  </nav>
</div>

<div class="container_grid">
  <% @books.each do |book| %>
    <div class="box">
      <% if book.quantity < 1 %>
        <img class="sold_out" width="64" height="64" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-sold-out-technology-ecommerce-flaticons-flat-flat-icons-2.png" alt="external-sold-out-technology-ecommerce-flaticons-flat-flat-icons-2"/>
      <% end %>
      <% if book.image.present? %>
        <%= link_to image_tag(book.image.url, class: 'img_book_home'), page_path(book) %>
      <% end %>
      <div class="description_book">
        <div class="book_name"><%= book.name_book %></div>
        <div class="book_author">Tác giả: <%= book.author %></div>
        <div class="price_info">
          <div>Giá: </div>
          <div class="price_discount"><%= book.display_price[:discount] %></div>
          <div class="price_current"><%= book.display_price[:current] %></div>
          <div>đ</div>
        </div>
      </div>
      <%= button_to "Thêm",
        add_to_cart_invoices_path(book_id: book.id),
        method: :get,
        disabled: (book.quantity < 1 ) ? true : false,
        class: "btn btn-danger",
        remote: true
      %>
    </div>
  <% end %> 
</div>

<style>

  .box {
    position: relative;
  }

  .sold_out {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .navbar-nav {
    flex-direction: row-reverse;
  }

  .container_grid {
    color: black;
  }

  .btn_category {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    margin-top: 12px;
    margin-left: 8px;
  }

  .btn_category a{
    font-size: 13px;
    padding: 6px 13px;
    border-radius: 52px;
    border: solid 1px #e0e0e0;
    background-color: rgb(0, 101, 255);
    color: #fff;
  }
  .button-style {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-style:hover {
  background-color: #45a049;
}

.button-style:active {
  background-color: #3e8e41;
}

</style>


