<% provide(:title, 'List discounts') %>
<h1>List discounts</h1>

<table class="table table-success table-hover">
  <thead>
    <tr>
      <%# <th>STT</th> %>
      <th>Name KM</th>
      <th>Giá KM</th>
      <th>Start day</th>
      <th>End day</th>
      <th>Status</th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.name_KM %></td>
        <td><%= discount.gia_KM %> % </td>
        <td><%= discount.start_day %></td>
        <td><%= discount.end_day %></td>
        <td style = "text-align:center ">
          <%=discount.status.to_s.humanize %>
        </td>
        <td style="padding: 4px;">
          <div class="action_discount" style="display: flex;">
            <%= button_to "Delete",admin_discount_path(discount.id), method: :delete, class: 'btn btn-danger', remote: true, id: "btn_delete_discount"%>
            <%= button_to "Edit", edit_admin_discount_path(discount),method: :get, class: "btn btn-warning", id: "btn_edit_discount" %>
          </div>
        </td>
        <td class="action_discount" style="padding: 4px;">
          <%= button_to "Xem chi tiết", edit_admin_discount_discount_detail_path(discount, discount.discount_detail),method: :get, class: 'btn btn-info', id: "btn_info_discount" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
  .action_discount form{
    flex: 1;
    margin: 4px;
  }
  .button_to input {
    font-size: 15px;
  }
</style>

