<% provide(:title, 'Đánh giá sách') %>
<h1><%= t('language.book_review') %></h1>
<div class="row" style="justify-content: center; color: black;">
  <div class="col-md-6 col-md-offset-3">  
    <%= form_for(@evaluater) do |form| %>
      <div class="">
         <% if @book.image.present? %>
            <%= link_to image_tag(@book.image.url, class: 'book-image'), page_path(@book) %>
        <% end %>
      </div>
      <div class="evaluater_book_name"><%= @book.name_book %></div>
      <%= form.hidden_field :book_id, value: @book.id %>
      <%= form.label t('language.level') %>
      <!-- <%= form.select :level, options_for_select((1..5).map { |i| ["#{i} sao", i] }) %> -->
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="evaluater[level]">
        <option value="1">1 <%= t('language.star') %></option>
        <option value="2">2 <%= t('language.star') %></option>
        <option value="3">3 <%= t('language.star') %></option>
        <option value="4">4 <%= t('language.star') %></option>
        <option value="5">5 <%= t('language.star') %></option>
      </select>
      <% if @evaluater.errors.has_key?(:level) %>
        <div class="error">
          <%= @evaluater.errors[:level].first %>
        </div>
      <% end %>
      
      <%= form.label t('language.comment')  %>
      <%= form.text_area :comment, class: 'form-control' %>
      <%= @evaluater.errors[:comment].first %>
      <%= form.hidden_field :user_id, value: current_user.id %>

      <%= form.submit t('language.evaluate'), class: "btn btn-primary", style: 'margin-top: 10px' %>
    <% end %>
  </div>
</div>

<style>
  label {
    font-weight: bold;
  }

  img {
    width: 480px;
    height: 500px;
  }
</style>