<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="<%= asset_path('style.css') %>">
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper d-flex align-items-stretch">
      <%= render 'layouts/sidebar' %>
      <div>
        
        <div id="content">
          <%= render 'layouts/header' %>
          <div class="container_content">
            <% flash.each do | message_type, message| %>
              <div style="font-weight: bold;" class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll_top" id="my-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
      </svg>
    </div>

    <%= javascript_include_tag 'custom', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'popper', 'data-turbolinks-track': 'reload' %> 
  </body>
  <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/632cfb8437898912e96acab2/1gdjrcvta';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
  </script>
</html>
<style>

  .container_content {
    padding: 5rem 2rem;
    width: calc(100vw - 315px);
  }
  .scroll_top svg{
    fill: red;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .scroll_top {
    display: none;
    position: fixed;
    z-index: 1;
    top: 90px;
    right: 20px;
  }
</style>

